name: Discord

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  discord:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/github-script@v8
        env:
          WEBHOOK_ID: ${{ secrets.WEBHOOK_ID }}
          WEBHOOK_TOKEN: ${{ secrets.WEBHOOK_TOKEN }}
          MESSAGE_ID: ${{ secrets.MESSAGE_ID }}
        with:
          script: |
            const files = (await github.rest.repos.getContent({
                owner: "pubmain",
                repo: "sniper-bin",
                path: ""
            })).data
            let description = ""
            files.forEach((file, i) => {
                if (!file.name.endsWith(".luau") || file.name.includes("Loader")) {
                    return;
                }
                file.name = file.name.replace(".luau", "")
                description += `${file.name}\n`
            })
            const response = await fetch(`https://discord.com/api/webhooks/${process.env.WEBHOOK_ID}/${process.env.WEBHOOK_TOKEN}/messages/${process.env.MESSAGE_ID}`, {
                method: "PATCH",
                body: JSON.stringify({
                    content: "",
                    "embeds": [
                        {
                            "title": "Supported games", "color": 2565413,
                            "description": description,
                            "fields": [
                                // { "name": "Upcoming games", "value": "Deadly Delivery (soon)" }
                            ]
                        }
                    ],
                }),
                headers: {
                    "Content-Type": "application/json"
                }
            })
            if (!response.ok) {
                throw new Error(`request failed: ${await response.text()}`);
            }
